@{
    ViewData["Title"] = "Our Policy";
}
<div class="container">
    <h2>Seller Policies</h2>
    <ul>
        <li><strong>Course Content:</strong> Sellers must provide accurate and valuable content in their courses. Misleading or inappropriate content is strictly prohibited.</li>
        <li><strong>Pricing:</strong> Sellers have the flexibility to set their course prices, but they should be reasonable and in line with the value offered. Any pricing manipulation or unfair practices will result in consequences.</li>
        <li><strong>Intellectual Property:</strong> Sellers must ensure that they have the right to use and distribute the course content. Plagiarism and infringement of intellectual property rights are not allowed.</li>
        <li><strong>Communication:</strong> Sellers are expected to respond promptly to student queries and provide adequate support related to their courses.</li>
        <li><strong>Refunds:</strong> Sellers should adhere to the refund policy. If a student is dissatisfied with the course, sellers may be required to process a refund as per the specified terms.</li>
        <li><strong>Quality Standards:</strong> Courses should meet minimum quality standards in terms of video/audio quality, course materials, and overall presentation. Low-quality or incomplete courses will be flagged.</li>
        <li><strong>Marketing Practices:</strong> Sellers should engage in ethical marketing practices. False advertising or spammy promotion techniques are not permitted.</li>
        <li><strong>Compliance with Laws:</strong> Sellers must comply with all relevant laws and regulations related to online course selling. Any illegal activities will result in account suspension.</li>
        <li><strong>Account Termination:</strong> Repeated violations of the seller policies may lead to the suspension or termination of the seller's account.</li><br />
        <li class="text-danger"><strong>Note:</strong> Seller most provide google drive link which have full course video and description for student which will be access after payment.</li>
    </ul>
    <br />
    <a class="hero__btn" asp-area="Admin" asp-action="index" asp-controller="Course">I Agree</a>
</div>

