@model Category
@{
    ViewData["Title"] = "Delete";
}

<form class="container" method="post">
    <div class="border p-3 mt-4">
        <div class="row pd-3">
            <h1 class="text-primary">Delete Category</h1>
            <hr />
        </div>
        @* <div asp-validation-summary =All></div> *@
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="DisplayOrder"></label>
            <input disabled asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
    <a asp-action="Index" asp-controller="Category">Back to List</a>

</form>
@* Client side validation which doesnot refresh the page *@
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}