@model MyProject.Models.ViewModels.CourseVM
@{
    ViewData["Title"] = "Index";
}

<div class="container">
        <div class="col-6">
            <h1 class="mt-3">Courses</h1>
        </div>
        <div class="col-6">
            <a class="hero__btn mb-2" asp-controller="Course" asp-action="CreateUpdate"> Add New Course</a>
        </div>

    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Discription
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Seller
                </th>
                <th>
                    Drive Link
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        @* @foreach(var items in Model.products){
        <tbody>
            <tr>
                    <td>
                        @items.Name
                    </td>
                    <td>
                        @items.DisplayOrder
                    </td>
                    <td role="group">
                        <a asp-action="CreateUpdate" asp-controller="Product" asp-route-id="@items.Id">Edit</a>
                        <a asp-action="Delete" asp-controller="Product" asp-route-id="@items.Id">Delete</a>
                    </td>
            </tr>
        </tbody>
        }*@

    </table>
</div>

@section scripts{
        <script src ="~/js/MyCourse.js"> </script>
}
